.container {
    max-width: 2000px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
.gallery-container {
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    overflow: hidden; /* Hide scroll bars */
}
.gallery-column {
    width: 78%; /* Set column width */
    overflow-y: auto; /* Enable vertical scrolling */
    border-radius: 15px; /* Rounded corners */
    background-color: rgba(255, 255, 255, 0.1); /* Transparent white background */
    transition: 0.3s; /* Smooth transition for scrolling */
    height: 500px; /* Set fixed height */
}
.gallery-column:hover {
    overflow-y: scroll; /* Enable scrolling on hover */
}
.gallery {
    display: grid;
    grid-template-columns: 1fr; /* Single column */
    gap: 10px;
}
.gallery img {
    border-radius: 10px;
    width: 100%; /* Make images fill the grid cell */
    height: auto;
    cursor: pointer;
}