@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: 100vh;
    color: #fff;
}
.container {
    display: flex;
    justify-content: space-between; /* Space evenly between items */
    align-items: center; /* Center items vertically */
    width: 50%; /* Set width to 50% of viewport */
    padding: 20px;
    margin-right: auto; /* Add margin for the image */
    margin-left: auto; /* Add margin for the text */
}
.container-double {
    display: flex;
    justify-content: space-between; /* Space evenly between items */
    align-items: center; /* Center items vertically */
    width: 90%; /* Set width to 50% of viewport */
    padding: 20px;
    margin-right: auto; /* Add margin for the image */
    margin-left: auto; /* Add margin for the text */
}
.profile-img {
    border-radius: 15px;
    width: 450px; /* Increase width of the image */
    height: auto; /* Maintain aspect ratio */
    margin-left: 100px; /* Add margin on the left */
}
.profile-text {
    font-size: 24px;
    text-align: left; /* Align text to the left */
    margin-right: 50px; /* Add margin on the right */
}
.download-cv {
    margin-top: 50px;
}
.btn {
    background-color: #1311af;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none; /* Remove underline */
}
.btn:hover {
    background-color: #000;
}
.highlight {
    color: #1311af; /* Set color to match button */
}
.italic {
    font-style: italic;
}