body {
    background-color: #000000;
    margin-top: 90px; /* Add top margin to move the grid down */
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 40px; /* Gap between images */
    max-width: 1000px;
    margin: 20px auto; /* Center the grid */
}

.image-grid a {
    display: block;
    text-align: center;
    overflow: hidden; /* Hide overflow to prevent layout shifts on hover */
}

.image-grid img {
    border-radius: 10px;
    width: 100%; /* Make images fill the container */
    max-width: 95%; /* Ensure images don't exceed their container */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.5s ease, border 0.5s ease; /* Smooth transition on hover */
    border: 1px solid rgb(255, 255, 255); /* 1px solid black border */
}

.image-grid img:hover {
    transform: scale(1.1); /* Zoom in slightly on hover */
}

.gallery-column {
    position: relative;
    width: 50%; /* Set column width */
    overflow-y: auto; /* Enable vertical scrolling */
    border-radius: 15px; /* Rounded corners */
    transition: 0.3s; /* Smooth transition for scrolling */
    right: 7%; /* Move to the left */
    top: 35%; /* Move down a bit */
    display: grid;
    grid-template-columns: 1fr; /* Single column */
    gap: 10px;
    height: 160%; /* Increase height, adjusting for the top offset */
}

.gallery-column:hover {
    overflow-y: scroll; /* Enable scrolling on hover */
}
.gallery-column img:hover {
    transform: scale(1.05);
}
.gallery-column img {
    border-radius: 10px;
    width: 100%; /* Make images fill the grid cell */
    height: auto;
    cursor: pointer;
    transition: transform 0.5s ease, border 0.5s ease; /* Smooth transition on hover */
}
